---
title: Archive
layout: layouts/common.njk
eleventyNavigation:
  key: Archive
  order: 1
pagination:
  data: collections.posts
  size: 12
  alias: posts
  reverse: true
permalink: /archive/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}
---

{% set postslist = posts %}
{% include "postslist.njk" %}

{% include "pagination.njk" %}