---
title: Archive
layout: layouts/common.njk
eleventyNavigation:
  key: Archive
  order: 1
pagination:
  data: collections.posts
  size: 12
  alias: posts
  reverse: true
permalink: /archive/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}
---

{% set postslist = posts %}
{% include "postslist.njk" %}

{% if pagination.pages.length > 1 %}
<nav class="nav-pagination" aria-labelledby="my-pagination">
  <ol>
    {% if pagination.href.previous %}
      <li class="nav-pagination__prev">
        <a href="{{ pagination.href.previous }}">‹</a>
      </li>
    {% else %}
      <li class="nav-pagination__prev nav-pagination__prev--disable">
        <span>‹</span>
      </li>
    {% endif %}
{%- for pageEntry in pagination.pages %}
    {% set isCurrent = (page.url == pagination.hrefs[ loop.index0 ]) %}
    <li {% if isCurrent %} class="current"{% endif %}><a {% if isCurrent %} aria-current="page"{% endif %} href="{{ pagination.hrefs[ loop.index0 ] }}">{{ loop.index }}</a></li>
{%- endfor %}
    {% if pagination.href.next %}
      <li class="nav-pagination__next">
        <a href="{{ pagination.href.next }}">›</a>
      </li>
    {% else %}
      <li class="nav-pagination__next nav-pagination__next--disable">
        <span>›</span>
      </li>
    {% endif %}
  </ol>
</nav>
{% endif %}