---
title: Cymetrics Tech Blog
layout: layouts/home.njk
description: 分享資訊安全與技術開發相關內容
image: /img/favicon/favicon-512x512.png
date: Last Modified
---

{% set maxArticleShow = 8 %}

<div class="posts">
  {% set postslist = collections.posts | reverse | head(maxArticleShow) %}
  {% include "home-postslist.njk" %}
</div>

{% if collections.posts.length > maxArticleShow %}
<a href="/posts" class="btn">Read more articles</a>
{% endif %}