---
permalink: /sitemap2.xml
eleventyExcludeFromCollections: true
siteWideUpdate: 2021-07-12
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://tech-blog.cymetrics.io/posts/crystal/pwn-intro/</loc>
    <changefreq>weekly</changefreq>
    <priority>1</priority>
    <lastmod>2021-11-02T02:13:41.640Z</lastmod>
  </url>
  <url>
    <loc>https://tech-blog.cymetrics.io/posts/jo/zerobased-APT/</loc>
    <changefreq>weekly</changefreq>
    <priority>1</priority>
    <lastmod>2021-11-02T02:13:41.640Z</lastmod>
  </url>
  <url>
    <loc>https://tech-blog.cymetrics.io/posts/jo/zerobased-secure-samesite-httponly/</loc>
    <changefreq>weekly</changefreq>
    <priority>1</priority>
    <lastmod>2021-11-02T02:13:41.640Z</lastmod>
  </url>
  <url>
    <loc>https://tech-blog.cymetrics.io/posts/genchilu/concurrency-paradigms-golang-and-java-zh/</loc>
    <changefreq>weekly</changefreq>
    <priority>1</priority>
    <lastmod>2021-11-02T02:13:41.640Z</lastmod>
  </url>
  <url>
    <loc>https://tech-blog.cymetrics.io/posts/nick/sqli/</loc>
    <changefreq>weekly</changefreq>
    <priority>1</priority>
    <lastmod>2021-11-02T02:13:41.640Z</lastmod>
  </url>
  <url>
    <loc>https://tech-blog.cymetrics.io/posts/genchilu/javas-thread-model-and-golang-goroutine-en/</loc>
    <changefreq>weekly</changefreq>
    <priority>1</priority>
    <lastmod>2021-11-02T02:13:41.640Z</lastmod>
  </url>
  <url>
    <loc>https://tech-blog.cymetrics.io/posts/nick/directory/</loc>
    <changefreq>weekly</changefreq>
    <priority>1</priority>
    <lastmod>2021-11-02T02:13:41.640Z</lastmod>
  </url>
  <url>
    <loc>https://tech-blog.cymetrics.io/posts/jo/zerobased-path-traversal/</loc>
    <changefreq>weekly</changefreq>
    <priority>1</priority>
    <lastmod>2021-11-02T02:13:41.640Z</lastmod>
  </url>
  <url>
    <loc>https://tech-blog.cymetrics.io/posts/crystal/email-sec-examples/</loc>
    <changefreq>weekly</changefreq>
    <priority>1</priority>
    <lastmod>2021-11-02T02:13:41.640Z</lastmod>
  </url>
  <url>
    <loc>https://tech-blog.cymetrics.io/posts/nick/cybersecurity-loss/</loc>
    <changefreq>weekly</changefreq>
    <priority>1</priority>
    <lastmod>2021-11-02T02:13:41.640Z</lastmod>
  </url>
  <url>
    <loc>https://tech-blog.cymetrics.io/posts/huli/xss-attack-and-defense/</loc>
    <changefreq>weekly</changefreq>
    <priority>1</priority>
    <lastmod>2021-11-02T02:13:41.640Z</lastmod>
  </url>
  <url>
    <loc>https://tech-blog.cymetrics.io/posts/huli/prototype-pollution/</loc>
    <changefreq>weekly</changefreq>
    <priority>1</priority>
    <lastmod>2021-11-02T02:13:41.640Z</lastmod>
  </url>
  <url>
    <loc>https://tech-blog.cymetrics.io/posts/huli/xss-history/</loc>
    <changefreq>weekly</changefreq>
    <priority>1</priority>
    <lastmod>2021-11-02T02:13:41.640Z</lastmod>
  </url>
  <url>
    <loc>https://tech-blog.cymetrics.io/posts/huli/prevent-xss-might-be-harder-than-you-thought/</loc>
    <changefreq>weekly</changefreq>
    <priority>1</priority>
    <lastmod>2021-11-02T02:13:41.640Z</lastmod>
  </url>
</urlset>
    