---
permalink: /tags/
layout: layouts/common.njk
title: Tags
eleventyNavigation:
  key: Tags
  order: 2
---

{% set currentTag = 'Security' %}
{% include "tags.njk" %}

<div style="margin-top: 32px;">
{% set postslist = collections['Security'] | reverse %}
{% include "postslist.njk" %}
</div>