---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/common.njk
eleventyComputed:
  title: "{{ tag }}"
permalink: /tags/{{ tag | slug }}/
---

{% set currentTag = tag %}
{% include "tags.njk" %}

<div style="margin-top: 32px;">
  {% set postslist = collections[ tag ] | reverse %}
  {% include "postslist.njk" %}
</div>