{% for post in postslist %}
  {% set author = metadata.authors[post.data.author] %}
  <div class="post">
    <h3 class="post-title">
      <a href="{{ post.url | url }}">{{ post.data.title | safe }}</a>
    </h3>
    <div class="post-description">
      {% summary post=post.templateContent %}
    </div>
    <div class="post-info">
      <div class="post-read-more">
        <a href="{{ post.url | url }}">Read more</a>
      </div>
      <div class="post-footer">
        <a href="/posts/{{ post.data.author }}" class="author-link">
          <img src="{{ author.avatarUrl}}" class="avatar-small" alt="avatar" />
          <span class="post-author">{{ author.name }}</span>
        </a> on <time class="post-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | htmlDateString }}</time>
      </div>
      
    </div>
  </div>
{% endfor %}