<ul>
{% for post in postslist | reverse %}
  {% set author = metadata.authors[post.data.author] %} 
  <li>
    <time class="f-monospace" datetime="{{ post.date | htmlDateString }}">{{ post.date | htmlDateString }}</time>&nbsp;&nbsp;
    <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    by <img class="avatar avatar-small" src="{{ author.avatarUrl }}"> {{ author.name }}
  </li>
{% endfor %}
</ul>
