---
layout: en/layouts/common.njk
title: G7's posts
eleventyExcludeFromCollections: true
---

{% set postslist = collections.postsEn %}
{% set author = 'genchilu' %}
{% include "en/author-postslist.njk" %}
