---
layout: en/layouts/common.njk
title: Ken's posts
eleventyExcludeFromCollections: true
---

{% set postslist = collections.postsEn %}
{% set author = 'ken' %}
{% include "en/author-postslist.njk" %}
