---
layout: en/layouts/common.njk
title: Cymetrics's posts
eleventyExcludeFromCollections: true
---

{% set postslist = collections.postsEn %}
{% set author = 'cymetrics' %}
{% include "en/author-postslist.njk" %}